In [1]:
# Dependencies and Setup.
import pandas as pd

In [2]:
# Files to load.
school_file = "../Resources/schools_complete.csv"
student_file = "../Resources/students_complete.csv"

In [3]:
# Read both files and store them into Pandas DataFrames.
school_data = pd.read_csv(school_file)
student_data = pd.read_csv(student_file)

In [4]:
# Combine the data into a single dataset.  
combined_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
combined_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary

In [5]:
# Calculate the total number of unique schools.
unique_schools = combined_data["school_name"].unique()
school_count = len(unique_schools)
school_count

15

In [6]:
# Calculate the total number of students.
student_count = combined_data["student_name"].count()
student_count

39170

In [7]:
# Calculate the total budget.
total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
# Calculate the average (mean) math score.
average_math_score = combined_data["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
# Calculate the average (mean) reading score.
average_reading_score = combined_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
# Calculate the percentage of students who passed math (math scores greather than or equal to 70).
passing_math_count = combined_data[(combined_data["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [11]:
# Calculate the percentage of students who passeed reading (reading scores greater than or equal to 70). 
passing_reading_count = combined_data[(combined_data["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [12]:
# Calculate the percentage of students that passed both math and reading.
passing_math_and_reading_count = combined_data[
    (combined_data["math_score"] >= 70) & (combined_data["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_and_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [13]:
# Create a high-level snapshot of the district's key metrics in a DataFrame.
district_summary = pd.DataFrame({"Total Schools": [school_count], "Total Students": [student_count], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "% Passing Math": [passing_math_percentage], "% Passing Reading": [passing_reading_percentage], "% Overall Passing": [overall_passing_rate]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326